<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
      integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc="
      crossorigin="anonymous"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Custom style -->
    <link rel="stylesheet" href="/asset/css/style.css" />
    <title>Order</title>
  </head>
  <body>
    <!-- Login Choice -->
    <main>
      <div class="card main-section my-4">
        <div class="card-header bg-success text-white">
          <h4>
            <i class="fa fa-user-circle" aria-hi dden="true"></i> Employees
          </h4>
        </div>
        <!-- Card Main Content -->
        <div class="card-body">
          <div class="row">
            <!-- List and search -->
            <div class="col-md-8">
              <!-- Card Product List -->
              <div class="row" id="product-list-section"></div>
            </div>
            <!-- Bill history -->
            <form
              id="bill-history-section"
              method="POST"
              action="/assist/user-checkout"
              class="col-md-4 border-left"
            >
              <h2 class="text-center">Order</h2>

              <div id="order-list">
                <!-- Order item here -->
              </div>
              <div id="bill-out" class="form-control text-center">
                <p id="total-price"><strong>Total price:</strong> 0 VND</p>
                <button type="submit" class="btn btn-outline-success">
                  Bill Out
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <!-- search bar -->
            <div class="mr-auto">
              <div class="input-group">
                <input
                  id="search-area"
                  class="form-control"
                  type="text"
                  placeholder="search key"
                  name="searchKey"
                />
                <div class="mx-2">
                  <select
                    id="category-name"
                    name="category"
                    class="form-control"
                  >
                    <!-- value nên dùng id của bảng product type -->
                    <option value="Tất cả">Tất cả</option>
                    <% for (i = 0; i < productTypes.length; i++) {%>
                    <option value="<%= productTypes[i].name%>"
                      ><%= productTypes[i].name%></option
                    >
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="mr-2">
              <a href="/employee" class="btn btn-secondary text-white">Back</a>
            </div>

            <div>
              <a href="/logout" class="btn btn-success">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/asset/js/jquery.js"></script>
    <script src="/asset/js/order.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- <script src="/javascripts/custom.js"></script> -->
  </body>
</html>
