<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
      integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc="
      crossorigin="anonymous"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Custom style -->
    <link rel="stylesheet" href="../asset/css/style.css" />

    <title>User Checkout</title>
  </head>
  <body>
    <!-- Login Choice -->
    <main>
      <div class="card main-section my-4 fixed-center">
        <div class="card-header bg-success text-white">
          <h4>
            <i class="fa fa-user-circle" aria-hi dden="true"></i> Statistic
          </h4>
        </div>
        <div class="card-body">
          <div class="container">
            <!-- Bill History In This Day -->
            <div class="bill-history-list mb-5">
              <table id="mytable" class="table">
                <thead class="bg-secondary text-white">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Bill Total</th>
                    <th scope="col">Create on</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="body">
              
                </tbody>
              </table>
            </div>

            <!-- Total Price In This Day -->
            <div class="d-flex justify-content-end">
              <div class="total-price d-inline p-3 mr-auto">
                <form onsubmit="getStatistic(); return false;" >
                  <div class="input-group">
                    <input id="startDate" type="date" class="form-control" name="begin" />
                    <div class="py-2 px-4">
                      <i
                        class="fa fa-arrow-circle-right fa-lg"
                        aria-hidden="true"
                      ></i>
                    </div>

                    <input id="endDate" type="date" class="form-control" name="end" />
                    <button class="btn btn-outline-success ml-2" type="submit">
                      Sort
                    </button>
                  </div>
                </form>
              </div>
              <div class="total-price p-4">
                <h4 id="totalPrice" class="text-center">Total Price: 0 VNĐ</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <div class="mr-2">
              <a onclick="return window.history.back();" class="btn btn-secondary text-white"
                >Back</a
              >
            </div>

            <div>
              <a href="/logout" class="btn btn-success">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script>
      if (document.getElementById('startDate').value != "" && document.getElementById('endDate').value != "") getStatistic();

      function addRow(num, customerName, billTotal, createOn, rowNum, billId){
        const table = document.getElementById('mytable').getElementsByTagName('tbody')[0];
        const row = table.insertRow(rowNum);
        row.innerHTML = '<th scope="row">' + num + '</th> <td>' + customerName + '</td><td>' + billTotal + ' VNĐ </td><td>' + createOn + '</td><td> <button onclick="return getDetail(this);" id="'+ billId + '" class="btn btn-success mr-2">Detail</button> <button class="btn btn-danger">Delete</button> </td>';
      }
      async function getStatistic(){
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;

        if (startDate == "" || endDate == "")
        {
          alert('Lỗi ngày còn trống!');
          return false;
        }
        else{
          const response = await fetch("http://localhost:3000/api/statistic?startDate=" + startDate + "&endDate=" + endDate);
          const data = await response.json();
          if (data.success){
            const tableBody = document.getElementById('body');
            tableBody.innerHTML = "";
            let currentRow = 0;
            for (i = 0; i < data.bills.length; i++){
              const bill = data.bills[i];
              const dateCreated = new Date(bill.createOn);
              addRow(i + 1, data.customerNames[i], formatMoney(bill.totalPrice), dateCreated.toLocaleString(), currentRow, bill._id);
              currentRow++;
            }
            document.getElementById('totalPrice').innerText = "Total Price: " + formatMoney(data.totalPrice) + " VNĐ";
          }
          else
          {
            alert(data.message);
            return false;
          }
        }
      }
      function formatMoney(money) {
          money = money.toString();
          var format = "";
          let i = money.length,
              k = 0;
          while (i-- > 0) {
              format = money[i] + format;
              k++;
              if (k % 3 === 0 && i != 0) format = "." + format;
          }
          return format;
      };
      function getDetail(tag){
        const url = window.location.href;
        const tokens = url.split('/');
        let resUrl = "";
        for (i = 3; i < tokens.length - 1; i++)
        {
          resUrl = resUrl + "/" + tokens[i];
        }
        window.location.href = resUrl + "/bill-detail?id=" + tag.id;
      }
    </script>
  </body>
</html>
